body{
    background-image: url('../assets/fond.webp');
    background-repeat: repeat;

    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: auto 1fr;
}

@font-face {
    font-family: "RetroGaming"; 
    src: url('../assets/RetroGaming.ttf') format('truetype'); 
}

header{
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 150px;
    align-items: center;
    
    background-color: rgb(7, 165, 213);
    border-bottom: 4px solid black;
}

header > h1{
    color: white;
    justify-self: center;
    font-size: clamp(30px, 6vw, 90px);
    font-family: "RetroGaming";
    font-weight: 100;
}

header > a {
    height: 150px; 
    width: 150px;
}

header > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.games{
    width: 90%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 1em;
}

.games img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}